{
  "apiBaseUrl": "https://api.github.com",
  "repos": [

  ],
  "comments": {
    "positive": [
      ":+1:",
      ":thumbsup:"
    ],
    "negative": [
      ":-1:",
      ":thumbsdown:"
    ]
  }
}
