{
  "apiBaseUrl": "https://api.github.com",
  "username": "",
  "password": "",
  "groupByRepo": false,
  "repos": [

  ],
  "owners": [
  ],
  "comments": {
    "positive": [
      ":+1:",
      ":thumbsup:"
    ],
    "negative": [
      ":-1:",
      ":thumbsdown:"
    ]
  },
  "mergeRule": {
    "positive": 2,
    "negative": 0,
    "staleHours": 0,
    "neverRegexp": "DO NOT MERGE"
  }
}
