body {
  background-color: #EEEEEE;
}

.glyphicon {
  margin-right: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);;
  z-index: 100;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  font-size: 0.8em;
  padding: 10px;
}

#toolbar {
  margin: 10px;
  display: flex;

  #refresh-button {
    margin-right: 5px;
  }

  #repo-selector {
    margin: 0 5px 0 5px; 
  }
}

.pull-request {
  border-left: 10px solid #337AB7;

  .pr-info {
    padding: 0 5px 0 5px;
    display: flex;

    div {
      padding: 0 5px 0 5px;
    }
  }

  .panel-body {
    display: flex;
    align-items: center;
  }

  .pr-main {
    flex-grow: 1;
  }

  .pr-last-updated {
    text-align: center;

    .label {
      font-size: 1.2em;
    }
  }

  .pr-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 5px 0 5px;
  }
}

.user-photo {
  padding: 5px;

  img {
    border-radius: 5px;
  }
}

