body {
  font-family: Helvetica, sans-serif;
}

.pr-item {
  border: 1px solid #AAA;
  background: #EEEEEE;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.pr-item > div {
  padding: 5px;
}

.pr-main {
  flex-grow: 1;
}

.pr-title {
  font-weight: bold;
}

.pr-repo-name {
  font-size: 0.8em;
}

.profile-picture {
  height: 40px;
  width: 40px;
}

