$link-color: #02779E;
$badge-color: #354250;
$error-color: #C34444;
$warning-color: #DFBA57;
$success-color: #4AD964;
$repo-link-color: #bbdde1;

body {
  background-color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  font-size: 0.8em;
  padding: 10px;
}

#toolbar {
  margin: 10px;
  display: flex;
  align-items: center;

  #sort-by-repo-container {
    margin-left: 10px;
  }

  #refresh-button {
    margin-right: 5px;
  }

  #auto-refresh, #sort-by-repo {
    margin: 0 5px 0 5px;
  }

  #auto-refresh-time {
    margin: 0 5px 0 5px;
  }
}

.pull-request {
  align-items: center;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;

  img {
    vertical-align: middle;
  }

  &.pull-request--mergeable {
    background: #90C695;
    border-left: 36px solid #509655;

    &:before {
      color: #FFFFFF;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
      margin-left: -34px;
      content: "\f00c";
    }
  }

  &.pull-request--unmergeable {
    background: #D24D57;
    border-left: 36px solid #A20D17;

    &:before {
      color: #FFFFFF;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
      margin-left: -34px;
      content: "\f071";
    }
  }

  .pull-request-info {
    flex-grow: 1;
  }

  .pull-request-title {
    font-weight: bold;
  }

  .pull-request-number {
    color: #AAAAAA;
    margin: 0 1rem;
  }

  .pull-request-created {
    font-style: italic;
    font-size: 0.8rem;
  }

  .pull-request-last-updated {
    background: $badge-color;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
  }

  .pr-status {
    display: inline-block;
    margin-right: 1rem;    // Maintain spacing with the comments to the right
    margin-left: -0.75rem; // Nudge this closer to the PR number

    .success {
      color: $success-color;
    }
    .pending {
      color: $warning-color;
    }
    .failure, .error {
      color: $error-color;
    }
  }

  .pr-comments {
    display: inline-block;

    div {
      display: inline-block;
      margin-right: 1rem;
    }

    .pr-comment-count {

    }

    .pr-comment-positive {
      i {
         color: green;
      }
    }

    .pr-comment-negative {
      i {
         color: red;
      }
    }
  }
}

.user-photo {
  margin-right: 1rem;
  display: flex;
  align-items: stretch;

  img {
    align-self: center;
    border-radius: 5px;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 10%);
  }
}

button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: darken($link-color, 10%);
  border-radius: 5px;
  border: 1px solid darken($link-color, 10%);
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.25s ease 0s;
  outline: none;
  margin: 0.25em;

  a {
    color: #FFFFFF;
  }

  &:hover {
    $background: $link-color;
    color: #FFFFFF;
    cursor: pointer;
    background-color: $background;
    border-color: darken($background, 10%);
  }

  &:active {
    $background: $link-color;
    color: #FFFFFF;
    outline: none;
    background-color: $background;
    border-color: darken($background, 10%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
      border-color: darken($link-color, 10%);
      color: darken($link-color, 10%);
    }
  }
}

.error-message {
  align-items: center;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;

  .error-message-details {
    background: $error-color;
    align-items: center;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    padding: 0.5rem 1rem;
  }

  .warning-symbol {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
}

.repo-indicator {
  align-items: center;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;

  .repo-symbol {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }

  .repo-indicator-description {
    background: $badge-color;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    padding: 0.5rem 1rem;
  }

  .repo-details {
    font-style: italic;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-align: right;
  }

  .repo-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 1rem;
    flex-grow: 1;
    margin-top: 0.75rem;
  }

  .repo-link {
    color: $repo-link-color;
    text-decoration: none;
    &:hover {
      color: lighten($repo-link-color, 10%);
    }
  }
}

.container-header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #C4D2E6;
  box-shadow: 1px 1px 1px #999999;

  h1 {
    margin: 0;
  }

  #pr-count, #repo-count {
    font-size: 2em;
    margin-left: 0.5em;

    img {
      width: 0.8em;
      vertical-align: middle;
    }
  }
}

.filter-repo-container {
  flex-grow: 1;
  text-align: right;

  .btn-filter {
    margin-left: 0.5rem;
  }
}

#edit-dashboard {
  input {
    font-size: 1em;
  }

  .content {
    padding: 0.5em;
  }

  #positiveMerge, #negativeMerge {
    width: 4em;
  }

  .item {
    border: 1px solid #999999;
    border-radius: 5px;
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
    background-color: #E2E8F5;
    box-shadow: 1px 1px 1px #999999;

    i {
      cursor: pointer;
    }

    img {
      vertical-align: middle;
    }
  }

  .edit-error {
    background-color: $error-color;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 0.25em;
  }
}

input {
  padding: 0.25em;
  border-radius: 2px;
  border: 1px solid #999999;
}
