$link-color: #02779E;
$badge-color: #354250;
$error-color: #C34444;

$status-failure: #E63434;
$status-pending: #F0C44F;
$status-success: #4AD964;

body {
  background-color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  font-size: 0.8em;
  padding: 10px;
}

#toolbar {
  margin: 10px;
  display: flex;
  align-items: center;

  #refresh-button {
    margin-right: 5px;
  }

  #auto-refresh {
    margin: 0 5px 0 5px;
  }

  #auto-refresh-time {
    margin: 0 5px 0 5px;
  }
}

.pull-request {
  align-items: center;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;

  &.pull-request--mergeable {
    background: #90C695;
    border-left: 36px solid #509655;

    &:before {
      color: #FFFFFF;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
      margin-left: -34px;
      content: "\f00c";
    }
  }

  &.pull-request--unmergeable {
    background: #D24D57;
    border-left: 36px solid #A20D17;

    &:before {
      color: #FFFFFF;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
      margin-left: -34px;
      content: "\f071";
    }
  }

  .pull-request-info {
    flex-grow: 1;
  }

  .pull-request-title {
    font-weight: bold;
  }

  .pull-request-number {
    color: #AAAAAA;
    margin: 0 1rem;
  }

  .pull-request-created {
    font-style: italic;
    font-size: 0.8rem;
  }

  .pull-request-last-updated {
    background: $badge-color;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
  }

  .pr-status {
    display: inline-block;
    margin-right: 1rem;    // Maintain spacing with the comments to the right
    margin-left: -0.75rem; // Nudge this closer to the PR number

    .success {
      color: $status-success;
    }
    .pending {
      color: $status-pending;
    }
    .failure {
      color: $status-failure;
    }
  }

  .pr-comments {
    display: inline-block;

    div {
      display: inline-block;
      margin-right: 1rem;
    }

    .pr-comment-count {

    }

    .pr-comment-positive {
      i {
        // color: green;
      }
    }

    .pr-comment-negative {
      i {
        // color: red;
      }
    }
  }
}

.user-photo {
  margin-right: 1rem;
  display: flex;
  align-items: stretch;

  img {
    align-self: center;
    border-radius: 5px;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 10%);
  }
}

button {
  background-color: $link-color;
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid darken($link-color, 10%);
  border-bottom-width: 3px;
  font-size: 0.8rem;
  transition: all 0.3s ease 0s;
  outline: none;

  &:hover {
    $background: lighten($link-color, 10%);
    cursor: pointer;
    background-color: $background;
    border-color: darken($background, 10%);
  }

  &:active {
    $background: lighten($link-color, 20%);
    outline: none;
    background-color: $background;
    border-color: darken($background, 10%);
  }
}

.error-message {
  background-color: $error-color;
  border-radius: 5px;
  color: #FFFFFF;
  display: flex;
  padding: 0.8rem;
  margin: 1rem;

  .error-message-details {
    font-size: 0.8rem;
  }

  .warning-symbol {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
}
